
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.env
/config/env.ts
/tests/tests/locatorListValidat.spec.ts
/tests/tests/navTest.spec.ts
/tests/tests/reportSanitytest.spec.ts
/tests/tests/topToolBarSanity.spec.ts
/testFiles
/.idea/
.gitignore
/tests/testnotes
pages/Documnents_p.ts
README.md
baseFramework/Framework Utils/examplesBuilder.ts
baseFramework/Framework Utils/tableBuilder.ts
baseFramework/Framework Utils/createTable.ts
baseFramework/Framework Utils/table.ts
components/fields/fieldWidgets/ValidationErrorCheck.ts
