
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/tests/
/.env
/config/env.ts
/tests/tests/locatorListValidat.spec.ts
/tests/tests/navTest.spec.ts
/tests/tests/reportSanitytest.spec.ts
/tests/tests/topToolBarSanity.spec.ts
